.dashboard-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.dashboard-container h2 {
	text-align: center;
	margin: 40px;
}

.dashboard-container form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(253, 252, 229);
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	height: 600px;
  width: 550px;
	margin: 20px;
}

.dashboard-container form input, textarea {
  background: white;
  border: 1px solid #696655;
  border-radius: 8px;
  display: flex;
  height: 35px;
  margin: 13px 0;
  padding: 12px 16px;
  width: 400px;
}

.dashboard-container form textarea {
	height: 150px;
}

.dashboard-container form button {
  background: #ecd177;
  border: 1px rgb(221, 221, 221) solid;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-family: Verdana;
  font-size: 16px;
  height: 40px;
  margin: 40px 0;
  text-align: center;
  width: 350px;
}

.dashboard-container form button:hover {
  background: #fcd659;
}

.error {
  color: #b01726;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  text-align: center;
	margin: 10px 10px;
}

.successs {
	color: #5ab44f;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  text-align: center;
	margin: 10px 10px;
}